.recipe
  = recipe.name
  .ingredients
    - recipe.recipe_components.each do |ingredient|
      .image.left
        = image_for ingredient
        == x#{ingredient.quantity}

  .yields.left
    &raquo;
  - recipe.recipe_outcomes.each do |outcome|
    .image.left= image_for outcome
    .left
      = "or" unless outcome == recipe.recipe_outcomes.last
  .clear