- form_for(@character) do |f|
  = f.error_messages
  
  %p
    == Name: #{f.text_field :name}

  %p
    == Image: #{collection_select :character, :image, @character.images, :to_s, :to_s}

  %p
    = f.submit "Update"

= link_to 'Show', @character 
= link_to 'Back', characters_path 
