%p
  = label_tag :nickname
  = @account.nickname
%p
  = label_tag :email
  = @account.email
%p
  = label_tag :energy
  = @account.energy
%p
  = label_tag :referral_code
  = @account.referral_code
  = link_to "Referral Link", login_url(:referral_code => @account.referral_code)

%p
  = label_tag :referrals
  = @account.referrals.to_sentence

%h3 Badges
.badges
  - account_badges(@account).each do |badge|
    = draw_badge badge

= link_to "Edit Account", edit_account_path