!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title Pixie
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag 'prototype', 'Pnglet', 'draw', 'jscolor', :cache => 'pixie'
  %body
    #page
      #content
        #notice
        %h1 Pixie
        = yield
    = javascript_tag "var $token = '#{form_authenticity_token}'"