!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title Pixie
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'pixie/pixie', 'jqcolor', 'jquery.hotkeys-0.7.9.min'
    = javascript_include_tag 'image_creation'
  %body
    #page
      = render :partial => 'creation/header'

      #content
        #notice
        %h1 Pixie
        = yield

    = javascript_tag "var $token = '#{form_authenticity_token}'"

    = render :partial => "components/analytics"