= form.error_messages

%p
  = form.label :name
  = form.text_field :name

= image_select(form)

.left
  = link_to "Back", creation_intrinsic_bases_path

.right
  = submit_tag form.object.new_record? ? "Create" : "Update"