!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title Javascript Tests
    = stylesheet_link_tag 'test/testsuite.css'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'hotruby/hotruby'
    = javascript_include_tag 'testrunner'
    = javascript_include_tag 'hotruby/hotruby_test'
    

  %body

    %h1 HotRuby
    %h2#banner
    %h2#userAgent

    %ol#tests

    #main
    
    = render :partial => "components/analytics"