#header
  %p.left
    = link_to_unless_current "Characters", characters_path, :class => "button"
    = link_to_unless_current "Recipes", recipes_path, :class => "button"
    = link_to_unless_current "Draw", new_image_path, :class => "button"
    = link_to_unless_current "Create Items", creation_item_bases_path, :class => "button"
    = link_to_unless_current "Create Recipes", creation_recipes_path, :class => "button"

  %p.right
    - if current_character
      = link_to "Current Character: #{current_character}", current_character

    - if logged_in?
      == Logged in as #{link_to current_account, current_account }
      == (#{link_to "Log out", logout_path, { :title => "Log out" }})

    -else
      = link_to "Log in",  login_path,  { :title => "Log in" }