#header
  %p.left
    = link_to_unless_current "Home", '/', :class => "button"
    = link_to_unless_current "Characters", characters_path, :class => "button"
    = link_to_unless_current "Recipes", recipes_path, :class => "button"
    = link_to "Creation", {:controller => 'creation/creation'}, :class => "button"

  = login_area