= image_for @area
%p
  = @area.description

%h2 Opportunities
- @area.opportunities.each do |opportunity|
  - next unless current_character.has_knowledge opportunity
  - if opportunity.requisites_met? current_character.net_abilities
    %p
      = opportunity_action_link opportunity
      = opportunity.description
  - else
    %p
      = opportunity
      = requirements_list opportunity

%h2 Shops
- @area.shops.each do |shop|
  - next unless current_character.has_knowledge shop
  %p= link_to shop, shop

%h2 Travel To
- @area.area_links.each do |area_link|
  - next unless current_character.has_knowledge area_link
  - if area_link.requisites_met? current_character.net_abilities
    %p
      = area_link_action_link area_link
  - else
    %p
      = image_for area_link.linked_area
      = requirements_list area_link
