%h4 Overview
%p
  Ruby Quiz 3 is still very much under construction. The dust should settle 
  within a couple of weeks. Quizzes 157-188 were originally posted by Matthew 
  Moss, unless otherwise indicated, and are reposted here with permission.
%p
  = link_to "Ruby Quiz", "http://rubyquiz.com"
  = link_to "Ruby Quiz 2", "http://splatbang.com/rubyquiz"

%h4
  Suggestions?

%p
  Support Ruby Quiz by 
  = link_to "submitting", suggestions_path
  ideas and responses as often as you can!

%h4
  Interested in the book?
%p
  <a href="http://www.amazon.com/gp/product/0976694077?ie=UTF8&tag=s0fbd8-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0976694077"><img border="0" src="/images/51yRPZSafxL._SL160_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=s0fbd8-20&l=as2&o=1&a=0976694077" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
%p
  A selection of the original quizzes by James Edward Gray II.

%h4 STRd6
%p
  The Ruby Quiz 3 site is maintained by 
  = link_to "STRd6", "http://strd6.com"
%p
  Source code for this web application can be found on
  = link_to "Google Code", "http://code.google.com/p/strd6/source/browse/#svn/trunk/ruby_quiz_3"