%div[area]
  
  %p= area.name
  
  - if area.characters.size > 0
    .characters
      %p Characters
      %ul
        - area.characters.each do |c|
          %li= c.name

  - if area.signs.size > 0
    .signs
      %p Signs
      %ul
        - area.signs.each do |s|
          %li= s.text

  .actions
    - if current_user && current_user.active_character
      = link_to_remote "Go Here", :url => "/game/goto?area_id=#{area.id}"
