%p= link_to "Draw", :action => :new

#tabs
  %ul
    %li= link_to "All", "#tabs-1"
    - Image.tag_counts_on(:tags).map do |tag|
      %li= link_to("#{tag.name} (#{tag.count})", :tag => tag.name, :spartan => true)

  #tabs-1
    = render :partial => "spartan_index"

- content_for :javascript do
  = javascript_tag '$(function() {$("#tabs").tabs();});'
