#pixie

#image_load{:style => "z-index: 9000"}
  - form_tag :url => "/creation/images/show" do |form|
    - Image.small.all.map do |image|
      .image.left
        = label_tag("id_#{image.id}", image_for(image))
        = radio_button_tag(:id, image.id)
    .clear
    %p
      .left
        = link_to_function "Cancel", "$('#image_load').hide()"
      .right
        = link_to_function "Load", "$.get('/creation/images/', $('form').serialize(), function(data) {eval(data);},'script');$('#image_load').hide()"

= javascript_tag "$('#image_load').hide();"