#actions
  = link_to_function 'Clear Canvas', 'canvas.clearCanvas()', {:title => 'Clear Canvas', :id => 'clear_canvas', :class => 'tool'}
  = link_to_function 'Preview', 'canvas.preview()', {:title => 'Preview (v)', :class => 'tool'}
  = link_to_function 'Save to Disk', 'canvas.saveFile()', {:title => 'Download', :class => 'tool'}
  = link_to_function 'Save to Game', 'canvas.upload()', {:title => 'Upload', :class => 'tool'}
  = link_to_function 'Load Image', "$('image_load').show()", {:title => 'Upload', :class => 'tool'}

#toolbox
  = link_to_function image_tag('draw/pencil.png', :alt => 'Pencil (p)'), 'canvas.setTool(pencil)', { :title => 'Pencil (p)', :id => 'pencil', :class => 'tool'}
  = link_to_function image_tag('draw/dropper.png', :alt => 'Dropper (i)'), 'canvas.setTool(dropper)', { :title => 'Dropper (i)', :id => 'dropper', :class => 'tool' }
  = link_to_function image_tag('draw/eraser.png', :alt => 'Eraser (e)'), 'canvas.setTool(eraser)', { :title => 'Eraser (e)', :id => 'eraser', :class => 'tool'}
  = link_to_function image_tag('draw/fill.png', :alt => 'Fill (f)'), 'canvas.setTool(fill)', { :title => 'Fill (f)', :id => 'fill', :class => 'tool'}
  
  %input#primary_color.color{:type => 'text'}
  %input#secondary_color.color{:type => 'text'}

  - ["000", "FFF", "666", "CCC", "800", "080", "008", "880", "808", "088"].each do |color|
    .swatch= "##{color}"
  = javascript_tag "$$('.swatch').each(function(color){color.style.backgroundColor = color.innerHTML; color.observe('mousedown', setColor.curry(color.innerHTML)); color.innerHTML = ''; color.observe('contextmenu', function(event) {event.stop();}); });"

- canvas_width = 32
- canvas_height = 32
#main_canvas.canvas
  - canvas_height.times do |y|    
    - canvas_width.times do |x|
      - id = "p_#{x}_#{y}"
      .pixel{:id => id}
      
#sample

#image_load
  - form_remote_tag :url => "/creation/images/show" do |form|
    - Image.small.all.map do |image|
      .image.left
        = label_tag("id_#{image.id}", image_for(image))
        = radio_button_tag(:id, image.id)
    .clear
    %p
      .left
        = link_to_function "Cancel", "$('image_load').hide()"
      .right
        = link_to_function "Load", "$(this).up('form').commit.click(); $('image_load').hide()"
        = submit_tag 'Load', :name => 'commit', :style => 'display: none;'
= javascript_tag "$('image_load').hide();"

= javascript_tag "var canvas = new Canvas('main_canvas', #{canvas_width}, #{canvas_height});"
- canvas_height.times do |y|
  - canvas_width.times do |x|
    = javascript_tag "new Pixel('p_#{x}_#{y}', canvas, #{x}, #{y});"