%p
  = link_to "Draw", :action => :new
  = link_to "Index", :action => :index

#tabs
  %ul
    %li= link_to "All", "#tab1"
    - Image.tag_counts_on(:tags).map do |tag|
      %li= link_to("#{tag.name} (#{tag.count})", :tag => tag.name, :spartan => true)

  #tab1
    = render :partial => "spartan_tag"

- content_for :javascript do
  = javascript_tag '$(function() {$("#tabs").tabs();});'

  