!!!

%html
  %head
    = javascript_include_tag "strd6/strd6"
    = javascript_include_tag "sprites.strd6.js"
    = javascript_include_tag "jquery"
    = javascript_include_tag "power_canvas.jquery"
    = javascript_include_tag "treeworld"
    = javascript_include_tag :juggernaut

    = stylesheet_link_tag "treeworld"
  %body
    = yield
