- active_character.stat_keys.each do |key| 
  %p
    = icon_for key 
    == : #{stats_text(active_character, key)}
%h4 Resources:
%p
  - active_character.resource_keys.each do |key|
    == #{key}: #{active_character.resources[key]}<br />
%h4 Properties:
%p
  - active_character.properties.each do |key, value|
    == #{key}: #{value}<br />