- if active_character
  - render window('active_character') do
    %div.character
      %h2= active_character.name

      - active_character.stat_keys.each do |key| 
        %p
          = icon_for key 
          == : #{stats_text(active_character, key)}
      %h4 Resources:
      %p
        - active_character.resource_keys.each do |key|
          == #{key}: #{active_character.resources[key]}<br />

  = javascript_tag "$character_id = #{active_character.id};"