- if active_character
  - render(window 'inventory') do
    .inventory_body
      - 8.times do |i|
        .inventory_slot{:id => "inventory_slot#{i}"}
          = i
          - if item = active_character.inventory[i]
            - item.top = 0; item.left = 0
            = render :partial => 'displayable_content', :locals => {:displayable => item}
            = javascript_tag "new #{item.class.name}('#{item.css_id}');"
        = drop_receiving_element "inventory_slot#{i}", :accept => ['displayable'], :hoverclass => 'hover', :onDrop => "item_dropped"



