.window_holder{:style => window_style(name), :id => name}
  .title_bar{:id => "#{name}_handle"}
    .title_bar_corner
    .title_bar_main
      .title_bar_icon.expanded
      = name.titleize
  .window
    = yield
= javascript_tag "new Window('#{name}');"