= javascript_include_tag 'prototype', :juggernaut
= juggernaut

= form_remote_tag(:url => { :action => :send_data }, :complete => "$('chat_input').value = ''" )
= text_field_tag( 'chat_input', '', { :size => 20, :id => 'chat_input'} )
= submit_tag "Add"

%ul{:id=>"chat_data", :style=>"list-style:none"}

