.character
  %h2= character.name

  %p
    = image_for character
    = image_for character.pet if character.pet

  %p
    Currently in
    = link_to character.area, character.area
    = link_to "Activate", :action => 'activate', :id => character.id

  %p
    Current Abilities:
    - character.net_abilities.each do |ability|
      = image_for ability

  %p
    = actions_remaining_for character

  %h3 Inventory
  - character.items.each do |item|
    .item
      = image_for item
      x
      = item.quantity
      = item.description
      = equip_link item