%div.feature{:id => "character_#{character.id}", :style => "background-image: url(/images/man.png); top: #{character.top}px; left: #{character.left}px;"}
  = character.name
= draggable_element "character_#{character.id}"