%div.feature{:id => "character_#{character.id}", :style => "background-image: url(/images/#{character.image || 'man'}.png); top: #{character.top}px; left: #{character.left}px;"}
  %span= character.name
= draggable_element "character_#{character.id}", :revert => 'drag_revert', :onStart => 'drag_start'