.displayable[displayable]{:class => displayable.css_classes, :style => "background-image: url(#{image_path "#{displayable.web_image}.png"}); top: #{displayable.top}px; left: #{displayable.left}px;"}
  - if displayable.overlay_text
    .overlay{:class => displayable.class.name.underscore }= displayable.overlay_text
= javascript_tag "new #{displayable.class.name}('#{displayable.css_id}', #{displayable.js_params});"
