%div[feature]{:style => "background-image: url(/images/plants/#{feature.image || "tree3"}.png); top: #{feature.top || 0}px; left: #{feature.left || 0}px;"}

= draggable_element "feature_#{feature.id}", :onStart => 'function(draggable, event) {if($current_action == null || $current_action.id != "move_action") {draggable.finishDrag(event, false);} }'