%div[feature]{:style => "background-image: url(/images/plants/#{feature.image || "tree3"}.png); top: #{feature.top || 0}px; left: #{feature.left || 0}px;"}

= draggable_element "feature_#{feature.id}", :revert => 'drag_revert', :onStart => 'drag_start'
