= javascript_include_tag 'draw', 'jscolor', 'png_encoder'

#sample

%input#current_color.color{:type => 'text'}

= link_to_function image_tag('draw/pencil.png', :alt => 'Pencil'), 'canvas.setTool(pencil)', { :title => 'Pencil', :id => 'pencil', :class => 'tool'}
= link_to_function image_tag('draw/dropper.png', :alt => 'Dropper'), 'canvas.setTool(dropper)', { :title => 'Dropper', :id => 'dropper', :class => 'tool' }
= link_to_function image_tag('draw/eraser.png', :alt => 'Eraser'), 'canvas.setTool(eraser)', { :title => 'Eraser', :id => 'eraser', :class => 'tool'}
= link_to_function image_tag('draw/fill.png', :alt => 'Fill'), 'canvas.setTool(fill)', { :title => 'Fill', :id => 'fill', :class => 'tool'}
= link_to_function 'Clear Canvas', 'canvas.clearCanvas()', {:title => 'Clear Canvas', :id => 'clear_canvas', :class => 'tool'}
= link_to_function 'Preview', 'canvas.toBase64PNG()', {:title => 'Preview', :id => 'preview', :class => 'tool'}

- canvas_width = 32
- canvas_height = 32
#main_canvas.canvas
  - canvas_height.times do |y|    
    - canvas_width.times do |x|
      - id = "p_#{x}_#{y}"
      .pixel{:id => id}
  
= javascript_tag "var canvas = new Canvas('main_canvas', #{canvas_width}, #{canvas_height});"
- canvas_height.times do |y|
  - canvas_width.times do |x|
    = javascript_tag "new Pixel('p_#{x}_#{y}', canvas, #{x}, #{y});"