= javascript_include_tag 'jscolor'
= javascript_include_tag 'draw'
= link_to_function 'Pencil', 'canvas.setTool(pencil)'
= link_to_function 'Dropper', 'canvas.setTool(dropper)'
%input#current_color.color{:type => 'text'}
#main_canvas.canvas
  - 32.times do |y|
    - 32.times do |x|
      - id = "p_#{x}_#{y}"
      .pixel{:id => id}
= javascript_tag "var canvas = new Canvas('main_canvas');"
- 32.times do |y|
  - 32.times do |x|
    = javascript_tag "new Pixel('p_#{x}_#{y}', canvas);"