#game
  -# javascript_tag "$('game').observe('click', function(){alert($current_action.id); return false;} );"
  - @area.features.each do |feature|
    = render :partial => 'area_displayable', :locals => {:displayable => feature}
  - @area.characters.each do |character|
    = render :partial => 'area_displayable', :locals => {:displayable => character}
  - @area.items.each do |item|
    = render :partial => 'area_displayable', :locals => {:displayable => item}
  - @area.signs.each do |sign|
    = render :partial => 'area_displayable', :locals => {:displayable => sign}

= drop_receiving_element 'game', :accept => ['displayable'], :hoverclass => 'hover', :onDrop => "feature_dropped"