#game
  - @area.displayables.each do |displayable|
    = render :partial => 'displayable_content', :locals => {:displayable => displayable}
    = javascript_tag "new #{displayable.class.name}('#{displayable.css_id}');"

= drop_receiving_element 'game', :accept => ['displayable'], :hoverclass => 'hover', :onDrop => "feature_dropped"
= javascript_tag "$('game').observe('click', game_click);"

= render :partial => 'sign_create'
= javascript_tag "$('sign_create').hide();"
= render :partial => 'feature_create'
= javascript_tag "$('feature_create').hide();"