= juggernaut(:channels => [:game, @area.channel], :swf_name => 'juggernaut_game')
#game
  - @area.displayables.each do |displayable|
    = render_displayable displayable

= javascript_tag "var game = new Game('game');"

= render :partial => 'sign_create'
= javascript_tag "$('sign_create').hide();"
= render :partial => 'feature_create'
= javascript_tag "$('feature_create').hide();"