#header
  %p#logo_text
    %span.ruby Ruby
    %span.quiz Quiz

  %p#nav
    %span#button_shadows
      = link_to "Home", '/', :class => "button_shadow"
      = link_to "Suggest", {:controller => :site, :action => :suggestions}, :class => "button_shadow"
      = link_to "About", '/about', :class => "button_shadow"

    %span#buttons
      = link_to "Home", '/', :class => "button"
      = link_to "Suggest", {:controller => :site, :action => :suggestions}, :class => "button"
      = link_to "About", '/about', :class => "button"
