#sidebar
  - if @quiz && @quiz.responses.size > 0
    %h2 Solutions
    %ul
      - @quiz.responses.each do |response|
        %li
          = link_to response.author, response.reference

  - if @current_quiz
    %h2 Current Quiz
    %ol
      %li{:value => @latest_quiz.id}
        = link_to @latest_quiz.title, quiz_path(@latest_quiz)
        %small= link_to "edit", edit_quiz_path(@latest_quiz) if false #session[:user_id]

  %h2 Archives
  %h3 Recent
  %ol.archives
    - archived_quizzes = (Quiz.all_live - [@current_quiz])
    - archived_quizzes[0..9].each do |quiz|
      %li{:value => quiz.id}
        = link_to quiz.title, quiz
  .advert
    = link_to "Online pixel editor", "http://pixie.strd6.com/"
    create and share pixel art online.
  %h3 Older
  %ol.archives
    -archived_quizzes[9..-1].each do |quiz|
      %li{:value => quiz.id}
        = link_to quiz.title, quiz
