#sidebar
  - if @quiz && @quiz.responses.size > 0
    %h2 Solutions
    %ul
      - @quiz.responses.each do |response|
        %li
          = link_to response.author, response.reference

  - if @current_quiz
    %h2 Current Quiz
    %ol
      %li{:value => @latest_quiz.id}
        = link_to @latest_quiz.title, quiz_path(@latest_quiz)
        %small= link_to "edit", edit_quiz_path(@latest_quiz) if false #session[:user_id]

  %h2 Archives
  %ol#archives
    - Quiz.all_live.has_summary.each do |quiz|
      %li{:value => quiz.id}
        = link_to quiz.title, quiz
        %small= link_to "edit", edit_quiz_path(quiz) if false
