!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title= @title || "#{controller.controller_name}: #{controller.action_name}".titlecase
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'effects' 
    = stylesheet_link_tag "main"

  %body
    #page
      #header
        - if logged_in?
          %p
            = image_tag "logo-header.png", { :title => "Str d6", :align => "middle"}
            == Logged in as #{link_to_current_user :content_method => :login}
            == (#{link_to "Log out", logout_path, { :title => "Log out" }})
            
        -else
          %p
            = link_to_login_with_IP 'Not logged in'
            
            = link_to "Log in",  login_path,  { :title => "Log in" }
            == /
            = link_to "Sign up", signup_path, { :title => "Create an account" }
      
      #content
        %h1= @title || "#{controller.controller_name}: #{controller.action_name}".titlecase
        
        -if flash[:notice]
          #notice.notification= flash[:notice]
        -if flash[:error]
          #error.notification= flash[:error]

        = yield

      / Move between #header and #content (or into the top of #content)
      #footer
        = link_to "Home", :controller => "welcome"
        = "|" 
        = link_to "Characters", :controller => "characters"

      /#bottom
      /  = image_tag "strd6Logo-small.png"