!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title= @title || "#{controller.controller_name}: #{controller.action_name}".titlecase
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag 'prototype', 'effects', 'dragdrop', 'gears_init', :juggernaut, :cache => 'base'
    = javascript_include_tag 'application', 'utility', 'game', 'inventory', 'action', 'sign', :cache => 'app'

  %body
    = juggernaut(:channels => [:main])
    #page
      #header
        %p.left
          = image_tag "logo-header.png", { :title => "STRd6", :align => "middle"}
          = link_to "Home", {:controller => "welcome"}, :class => "button"
          - %w[game characters areas items signs].each do |c|
            = link_to c.titleize, {:controller => c}, :class => "button"

        %p.right
          - if logged_in?
            == Logged in as #{link_to_current_user :content_method => :login}
            == (#{link_to "Log out", logout_path, { :title => "Log out" }})

          -else
            = link_to_login_with_IP 'Not logged in'            
            = link_to "Log in",  login_path,  { :title => "Log in" }
            == /
            = link_to "Sign up", signup_path, { :title => "Create an account" }

      #content
        %h1= @title || "#{controller.controller_name}: #{controller.action_name}".titlecase
        = render :partial => 'components/notices'
        = yield

      - %w[active_character chat inventory actions].each do |component|
        = render :partial => "components/#{component}"

    #dcon
    = javascript_tag "var $token = '#{form_authenticity_token}'"

    = javascript_tag "loadChatsFromDB();" 
