!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title= @title || "#{controller.controller_name}: #{controller.action_name}".titlecase
    = javascript_include_tag 'prototype', 'effects', 'dragdrop', 'application', :juggernaut
    = stylesheet_link_tag :all

  %body
    = juggernaut
    #page
      = render :partial => 'components/active_character'
      = render :partial => 'components/chat'
      = render :partial => 'components/inventory'
      = render :partial => 'components/actions'

      #header
        %p.left
          = image_tag "logo-header.png", { :title => "STRd6", :align => "middle"}
          = link_to "Home", {:controller => "welcome"}, {:class => "button"}
          = link_to "Game", {:controller => "game"}, {:class => "button"}
          = link_to "Characters", { :controller => "characters" }, { :class => "button" }

        %p.right
          - if logged_in?
            == Logged in as #{link_to_current_user :content_method => :login}
            == (#{link_to "Log out", logout_path, { :title => "Log out" }})

          -else
            = link_to_login_with_IP 'Not logged in'            
            = link_to "Log in",  login_path,  { :title => "Log in" }
            == /
            = link_to "Sign up", signup_path, { :title => "Create an account" }

      #content
        %h1= @title || "#{controller.controller_name}: #{controller.action_name}".titlecase
        = render :partial => 'components/notices'
        = yield

      /#bottom
      /  = image_tag "strd6Logo-small.png"
      = javascript_tag "window._token = '#{form_authenticity_token}'" 
