= form.error_messages

%p
  = form.label :name
  = form.text_field :name

%p
  = form.label :event_type
  = form.collection_select :event_type, EventBase::EventType::ALL, :to_s, :to_s

= image_select(form)

.left
  = link_to "Back", :action => :index

.right
  = submit_tag form.object.new_record? ? "Create" : "Update"