!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", 'content' => "text/html; charset=utf-8"}
    %title= @title || "#{controller.controller_name}: #{controller.action_name}".titlecase
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag 'prototype', 'effects', 'dragdrop', 'proto.menu', 'juggernaut/juggernaut', 'juggernaut/swfobject', :cache => 'lib'
    = javascript_include_tag 'application', 'game', :cache => 'app'

  %body
    = juggernaut(:channels => channels)
    #header
      = link_to "Games", games_url
      - if current_player
        == Greetings #{current_player.name} 
        = link_to "Log Out?", logout_url
      - else
        = link_to "Log In?", login_url
        
    #page
      -if flash[:notice]
        #notice.notification= flash[:notice]
      -if flash[:error]
        #error.notification= flash[:error]
      = yield
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?