- id_prefix = "#{object}_#{method}_"
- name = "#{object}[#{method}][]"
- IntrinsicBase.all.each do |base|
  - id = "#{id_prefix}#{base.name}"
  .left
    = label_tag id, base.name
    = check_box_tag name, base.id, existing.include?(base.id), :id => id
.clear
