- id_prefix = "#{object}_#{method}_"
- name = "#{object}[#{method}][]"
- Intrinsic.all.each do |intrinsic|
  - id = "#{id_prefix}#{intrinsic.name}"
  .left
    = existing.include?(intrinsic.name)
    = label_tag id, intrinsic.name
    = check_box_tag name, intrinsic.name, existing.include?(intrinsic.name), :id => id
.clear
%h4 - or -
- id = "#{id_prefix}any"
.left
  = label_tag id, "any"
  = check_box_tag name, "any", existing.include?("any"), :id => id
.clear