= form.error_messages

%p
  = form.label :name
  = form.text_field :name

%p
  = form.label :description
  = form.text_field :description

%h3 This opportunity requires all of the following abilities:
= intrinsic_checkbox_array :opportunity_base, :intrinsic_base_ids, form.object.intrinsic_base_ids

= events_assist(form)

= image_select(form)

.left
  = link_to "Back", creation_opportunity_bases_path

.right
  = submit_tag form.object.new_record? ? "Create" : "Update"