= form.error_messages

%p
  = form.label :name
  = form.text_field :name

%p
  = form.label :description
  = form.text_field :description

%h3 This opportunity requires any of the following abilities:
- Intrinsic.all.each do |intrinsic|
  .left
    = label_tag "opportunity_base_requisites_#{intrinsic.name}", intrinsic.name
    = check_box_tag "opportunity_base[requisites][]", intrinsic.name, form.object.requisites.include?(intrinsic.name), :id => "opportunity_base_requisites_#{intrinsic.name}"
.clear
%h4 - or -
.left
  = label_tag "opportunity_base[requisites][]", "any"
  = check_box_tag "opportunity_base[requisites][]", "any", form.object.requisites.include?("any"), :id => "opportunity_base_requisites_any"
.clear

#outcomes
  %h3 Outcomes
  - form.fields_for :loots do |loots_form|
    = render :partial => 'loot', :locals => {:form => loots_form}
= add_loot_link form

.left
  = link_to "Back", creation_opportunity_bases_path

.right
  = submit_tag form.object.new_record? ? "Create" : "Update"