= label_tag form.object
= image_for form.object
= form.collection_select :item_base_id, ItemBase.all, :id, :name

%p
  = form.label :quantity
  = form.text_field :quantity

%p
  = form.label :consume_percentage
  = form.text_field :consume_percentage

- unless form.object.new_record?
  %p
    = form.label :_delete, 'Remove:'
    = form.check_box :_delete