= label_tag form.object
= image_for form.object
= form.collection_select :item_base_id, ItemBase.all, :id, :name
%p
  = form.label :weight
  = form.text_field :weight

- unless form.object.new_record?
  %p
    = form.label :_delete, 'Remove:'
    = form.check_box :_delete