.board
  - num_rows = 13
  - num_cols = 10
  - num_rows.times do |row|
    - (num_rows - row).times do
      .hex_spacer
    - num_cols.times do |col|
      .hex{:id => "hex_#{row}_#{col}"}
        - @positions[[row, col]].each do |character|
          .token{:id => "character_token_#{character.id}"}
            = character.name[0..0]
          = javascript_tag "new Token('character_token_#{character.id}');"
      = javascript_tag "new Hex('hex_#{row}_#{col}', #{row}, #{col});"
    .clear