%div[game]
  = game.name
  %br
  .players
    - game.players.each do |player|
      = render :partial => player
  .characters
    - game.character_instances.each do |character|
      = render :partial => character
  .cards
    - game.cards.each do |card|
      = render :partial => card
  = render :partial => 'board'