= link_to_function "Done!", 'commando.finishSetup()'
.characters
  - @game.character_instances.each do |character|
    = render :partial => character
.cards
  - @game.cards.each do |card|
    = render :partial => card if card.owner.nil?

= javascript_tag "var gameId = #{@game.id};"