= form.error_messages

%p
  = form.label :name
  = form.text_field :name

%p
  = form.label :description
  = form.text_area :description

%p
  = form.label :allowed_slot, "Equip On"
  = form.collection_select :allowed_slot, Item.slot_select, :first, :last

%h3 This item grants the following abilities
= intrinsic_checkbox_array :item_base, :intrinsic_base_ids, form.object.intrinsic_base_ids

= image_select(form, :tagged => "item")

.left
  = link_to "Back", creation_item_bases_path