- form_for [:creation, @item_base] do |form|
  = form.error_messages

  %p
    = form.label :name
    = form.text_field :name

  %p
    = form.label :description
    = form.text_area :description

  .left
    = link_to "Back", creation_item_bases_path
  
  .right
    = submit_tag "Update"
    